:root {
  --dark-color: rgb(38, 38, 38);
  --light-color: rgb(250, 246, 246);
}

.main-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  background-color: var(--dark-color);
  color: var(--light-color);
}
.brand-name {
  flex-shrink: 0;
  font-family: "Patrick Hand", cursive;
  font-size: 35px;
  user-select: none;
}
.nav-list {
  display: flex;
  font-size: 18px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}
.link,
.contact {
  text-decoration: none;
  vertical-align: middle;
  color: inherit;
  text-transform: uppercase;
  padding: 10px 15px;
}
.contact {
  border: 2px solid var(--light-color);
  border-radius: 5px;
  font-family: sans-serif;
  padding: 10px 25px;
}
.contact:hover {
  color: var(--dark-color);
  background-color: var(--light-color);
}
.item:hover {
  transform: scale(1.1);
}
